.servicefeed {
    background-image: url("../../../../Images/feedback.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}