/*.section {
    background-image: url("../../../../Images/package_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
*/
/* .createpromo {
    background-image: url("../../../../Images/package_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */