body{
    /*background-image: url('../images/fd.jpg');*/
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .User-box{
    color: white;
    height: 350px;
    width: 400px;
    border-radius: 20px;
    padding: 60px;
    padding-top: 80px;
    background: rgba(0, 0, 0, 0.629);
    background: rgba(0, 0, 0, 0.594);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.title{
    text-align: center;
    margin-top: -50px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.add-promo-btns{
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;

}

.primary__btn{
    background-color: aqua;
    margin-Right: 10px;
    border-radius: 10px;
    font-size: 12px;
    width: 80px;
    height: 30px;
    font-family: "Poppins", sans-serif;
}
.secondary__btn {
    background-color: rgb(236, 40, 40);
    border-radius: 10px;
    font-size: 12px;
    width: 80px;
    height: 30px;
    font-family: "Poppins", sans-serif;
}


 
 #inquiry{
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
 }

 .servicerate{ 
    margin-top: 10px;
    font-weight: bold;
    padding: 2px;
    margin-top: 10px;
 }

 .add-promo-row{
    display: flex;
    align-items: center;
    
    
 }

.promo-lbl{
    padding-top: 15px; 
    margin-right: 10px;
    font-size: 14px;
    white-space: nowrap;
    min-width: 40%;
}
 .promoInput {
    font-family: "Poppins", sans-serif;
    flex: 1;
    height: 25px; 
    border-radius: 10px;
    border: 2px solid aqua; 
    margin-top: 20px; 
    
    width: 100%;
    
}

.insSelect{
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 30px; 
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid aqua; 
    border-radius: 10px;
    flex: 1;
    
}   

.add-star{
    display: flex;
    align-items: center;
    margin-top: -1em;
    padding-left: 60px;
    padding-top: 40px;
    
}

.promo-star{
    font-size: 14px;
    padding-top:20px ;
}

.add-promo-area{
    padding-top: 30px;
}

