.underline{
  width: 252px;
  height: 5px;
  background-color:darkslategray;
}
.underline1{
  width: 312px;
  height: 5px;
  background-color:darkslategray;
}
nav a.active{
  color: black!important;
}
