@tailwind base;
@tailwind components;
@tailwind utilities;

.full_pg_bgImg{
  background-image: url("./img/wavesyncBG.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rating span{
  margin:0.1rem;
}

.rating svg{
  color: #f8e825;
}

.rating-text{
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

